body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(8, 48, 67);
}

.box {
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: beige;
    text-align: center;
    color: white;
    height: 400px;
}

.box h1 {
    color: black;
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 30px;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(157, 211, 232);
    padding: 20px 20px;
    width: 220px;
    outline: none;
    color: #1810edec;
    border-radius: 10px;
    transition: 0.25px;
    font-size: 20px;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 250px;
    border-color: #1810edec;
    color: black;
}

.box input[type="Submit"] {
    border: 0;
    background-color: rgb(157, 211, 232);
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid rgb(157, 211, 232);
    padding: 14px 35px;
    width: 200px;
    outline: none;
    color: rgb(13, 13, 13);
    border-radius: 10px;
    transition: 0.25px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.box input[type="Submit"]:hover {
    background-color: #1810edec;
}